<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spittr</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/resources/css/style.css}"/>
</head>
<body>

<h1>Recent Spittles</h1>

<th:block th:each="spittle : ${spittleList}">
    <li id=spittle_"${spittle.id}">
        <div class="spittleMessage">
            <a th:href="@{'/spittles/' + ${spittle.id}}">[[${spittle.message}]]</a>
        </div>
        <div>
            <span th:class="spittleTime" th:text="${spittle.time}"></span>
            <span th:class="spittleLocation" th:text="${spittle.latitude}"></span>
            <span th:class="spittleLocation" th:text="${spittle.longitude}"></span>
        </div>
    </li>
</th:block>

</body>
