<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Spittr</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>   <!-- th:href link to stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>

<div id="header" th:include="page :: header"></div>

<div id="content">
    <h1 th:text="#{spittr.welcome}"></h1>

    <a th:href="@{/spittles}">Spittles</a>    <!-- th:href links to pages -->
    <a th:href="@{/spittr/register}">| Register</a>
    <a sec:authorize="!isAuthenticated()" th:href="@{/auth/login}">| Login</a>
    <a sec:authorize="isAuthenticated()" href="javascript: document.logoutForm.submit()" role="menuitem">| Logout</a>

    <form name="logoutForm" th:action="@{/auth/logout}" method="POST">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
</div>

<div id="footer" th:include="page :: footer"></div>

</body>
</html>