<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spittr</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>

<div id="header" th:include="page :: header"></div>

<div id="content">
    <h1>Your profile</h1>

    <span th:remove="tag" th:inline="text">[[${spittr.username}]]</span>
    <span th:remove="tag" th:inline="text">[[${spittr.firstName}]]</span>
    <span th:remove="tag" th:inline="text">[[${spittr.lastName}]]</span>
</div>

<div id="footer" th:include="page :: footer"></div>

</body>