<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spittr</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>

<div id="header" th:include="page :: header"></div>

<div id="content">
    <h1>Recent Spittles</h1>

    <ul>
        <th:block th:each="spittle : ${spittleList}">
            <li th:id="'spittle_' + ${spittle.id}" class="spittle_entity">
                <div class="spittle-message">
                    <a th:href="@{'/spittles/' + ${spittle.id}}">[[${spittle.message}]]</a>
                </div>
                <div>
                    <span th:class="spittle-time" th:text="${spittle.time}"></span>
                    <div th:class="spittle-location" th:if="${spittle.latitude != null && spittle.longitude != null}">
                        <span>Location: </span>
                        <span th:text="${spittle.latitude}"></span>
                        <span th:text="${spittle.longitude}"></span>
                    </div>
                </div>
            </li>
        </th:block>
    </ul>


    <div id="new_spittle">
        <h3>New Spittle</h3>
        <form method="post" enctype="application/x-www-form-urlencoded" th:action="@{/spittles}" th:object="${spittle}">

            <!-- Displays validation errors -->
            <div class="errors" th:if="${#fields.hasErrors('*')}">
                <ul>
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is correct</li>
                </ul>
            </div>

            <!-- Message -->
            <label for="message" th:text="Message"></label>
            <input id="message" type="text" th:field="*{message}"
                   th:class="${#fields.hasErrors('message')} ? 'error'"/><br/>
            <label for="longitude" th:text="Longitude"></label>
            <input id="longitude" type="text" th:field="*{longitude}"
                   th:class="${#fields.hasErrors('longitude')} ? 'error'"/><br/>
            <label for="latitude" th:text="Latitude"></label>
            <input id="latitude" type="text" th:field="*{latitude}"
                   th:class="${#fields.hasErrors('latitude')} ? 'error'"/><br/>

            <input type="submit" value="Add"/>

        </form>
    </div>

</div>

<div id="footer" th:include="page :: footer"></div>

</body>
