<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spittr</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>

<div id="header" th:include="page :: header"></div>

<div id="content">

    <h1>Recent Spittles</h1>

    <div class="spittleView">
        <div class="spittleMessage">
            <span th:remove="tag" th:inline="text">[[${spittle.message}]]</span>
            <div>
                <span th:class="spittleTime" th:remove="tag" th:inline="text">[[${spittle.time}]]</span>
            </div>
            <form th:method="delete" th:action="@{/spittles/delete/{spittleId}(spittleId=${spittle.id})}">
                <button type="submit" onClick="return confirm('Sure delete?')">Delete</button>
            </form>
        </div>
    </div>

</div>

<div id="footer" th:include="page :: footer"></div>

</body>