body {
  padding: 2cm;
}

h1 {
  font-family: Arial, serif;
  font-size: large;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.spittle-message {
  font-size: medium;
  display: inline-block;
}

.spittle_entity {
  padding: 10px;
  background-color: #f7f7f7;
  border: 2px solid #dddddd;
}

.spittle-time {
  font-size: small;
}

.spittle-location {
  font-size: small;
}

div.errors {
  background-color: #ffcccc;
  border: 1px solid red;
}

input.error {
  background-color: #ffcccc;
}

label.error {
  color: red;
}

#content {
  padding: 10px;
}

#header {
  padding: 20px 0 20px 10px; /* Top Right Bottom Left */
  background-color: whitesmoke;
  font-size: small;
  font-weight: bold;
  border: 1px solid #2e3133;
}

#footer {
  padding: 20px 0 20px 10px; /* Top Right Bottom Left */
  background-color: #e7e8ea;
  font-size: small;
}

#footer p {
  margin: 0;
}

#new_spittle {
  padding: 20px 0 20px 10px; /* Top Right Bottom Left */
}